.firmware/pio
.firmware/vscode/.browse.c_cpp.db*
.firmware/vscode/c_cpp_properties.json
.firmware/vscode/extensions.json
.firmware/vscode/launch.json
.firmware/vscode/ipch
.windows_test/*.o
.windows_test/*.d
.windows_test/*.obj
.windows_test/*.dsk
.windows_test/*.tds
.windows_test/*.lnk
.windows_test/*.url
.windows_test/*.ini